<h1 class="text-center" >Checkout</h1>
<br />
<h2 class="text-center" >The event you want to attend: <%= @event.title %> </h2>
<h3 class="text-center" >The price of the event: <%= @event.price %> eur </h3>
<br />
<div class="text-center">
  <%= render partial: "pay/stripe/checkout_button", locals: { session: @checkout_session, title: "Checkout" } %>
</div>